{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.html",
        "*.css",
        "*.scss",
        "*.json",
        "*.md",
        "*.yml",
        "*.yaml"
      ],
      "options": {
        "singleQuote": false,
        "printWidth": 200
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
